################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SMSineitor/v16/Server/sqlite3
SMSineitor.sln
/.vs
